.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.mainInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  width: 100vw;
}

.mainInfo > div {
  flex: 1;
}
