.container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.mainInfo {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: stretch;
  width: 80vw;
  gap: 1rem;
}

.mainInfo > div {
  flex: 1;
  background: linear-gradient(135deg, #ffa450 0%, #d64c68 100%);
  border-radius: 8px;
  margin: 0 0.5rem;
  padding: 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
}
