.logoutButton {
  background-color: aqua;
}

.logoutButtonProfile {
  background-color: orange;
  border-radius: 3rem;
  border: none;
}

.logoutButtonHeader {
  cursor: pointer;
  background-color: orange;
  margin-top: 0.5rem;
  width: 8rem;
  height: 4rem;
  text-align: center;
  border-radius: 3rem;
  transition-duration: 0.2s;
}

.logoutButtonHeader:hover {
  box-shadow: 0 0.75rem 1rem 0 rgba(0, 0, 0, 0.24),
    0 1rem 3rem 0 rgba(0, 0, 0, 0.19);
  transform: translate(0.2rem, -0.2rem);
}

.logoutButtonHeader:active {
  transform: translateY(0.2rem);
}
