.card {
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  border-bottom: 1px solid #eee;
  color: #222;
  text-decoration: none;
  height: 5rem;
}

.card:visited {
  color: #444;
}

.card:hover {
  background-color: #ffddb3;
}

.card:active {
  color: #000;
}

.card:last-child {
  border-bottom: none;
}

.info {
  flex: 1;
  min-width: 0;
}

.image {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
  border-radius: 0.5rem;
}

.title {
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}

.artist {
  font-size: 0.875rem;
  color: #666;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  width: 100%;
}
@media (max-width: 900px) {

}

@media (max-width: 600px) {


  .title {
    font-size: 0.9rem;
  }

  .artist {
    font-size: 0.8rem;
  }
}
