.mainHeader {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0;
  padding: 0.5rem;
  background-color: white;
  gap: 1rem;
  z-index: 1;
  position: relative;
}

.image {
  width: 5rem;
}

.btnHeader {
  cursor: pointer;
  background-color: orange;
  margin-top: 0.5rem;
  width: 8rem;
  height: 4rem;
  text-align: center;
  border-radius: 3rem;
  transition-duration: 0.2s;
  font-size: 0.9rem;
}

.btnHeader:hover {
  box-shadow: 0 0.75rem 1rem 0 rgba(0, 0, 0, 0.24),
    0 1rem 3rem 0 rgba(0, 0, 0, 0.19);
  transform: translate(0.2rem, -0.2rem);
}

.btnHeader:active {
  transform: translateY(0.2rem);
}
@media (max-width: 900px) {
  .image {
    width: 4rem;
  }

  .btnHeader {
    width: 7rem;
    height: 3.5rem;
    font-size: 0.8rem;
    margin-top: 0.2rem;
  }
}

@media (max-width: 600px) {
  .image {
    width: 3rem;
  }

  .btnHeader {
    width: 5rem;
    height: 3rem;
    font-size: 0.8rem;
    margin-top: 0rem;
  }
}
