.container {
  position: relative;
  width: 100%;
  max-width: 37rem;
  margin: 0 auto;
  z-index: 20;
}

.inputWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: stretch;
}

.searchBar {
  width: 100%;
  padding: 0.6rem 0.9rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  margin-top: 1.5rem;
  box-sizing: border-box;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 0.3rem;
  max-height: 25rem;
  overflow-y: auto;
  background: white;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.15);
  z-index: 999;
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
  gap: 0.5rem;
}

.tab {
  flex: 1;
  padding: 0.4rem;
  border: none;
  border-bottom: 2px solid transparent;
  background: none;
  font-weight: bold;
  cursor: pointer;
  transition: border-bottom 0.2s ease, color 0.2s ease;
}

.tab:hover {
  color: darkorange;
}

.activeTab {
  border-bottom: 2px solid orange;
  color: orange;
}

.results {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.seeAll {
  background-color: orange;
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.seeAll:hover {
  background-color: darkorange;
}

.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  font-size: 2rem;
  animation: loading 1s linear infinite;
  right: 1rem;
  top: 0.75rem;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}


@media (max-width: 600px) {
  .searchBar {
    margin-top: 1rem;
  }
  .loading {
    right: 0.5rem;
    top: 0.25rem;
  }
}
