.mainHeader {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 10px;
  background-color: white;
  gap: 1rem;
  z-index: 1;
  position: relative;
}

.image {
  width: 5rem;
}

.btnHeader {
  cursor: pointer;
  background-color: orange;
  margin-top: 0.5rem;
  width: 8rem;
  height: 4rem;
  text-align: center;
  border-radius: 50px;
  transition-duration: 0.2s;
}

.btnHeader:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  transform: translate(3px, -3px);
}

.btnHeader:active {
  transform: translateY(3px);
}
