.profileContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 2%;
  margin-left: 2%;
  background-color: darkkhaki;
  position: relative;
  padding: 5px;
}

.first {
  background-color: burlywood;
  padding: 5px;
}

.userImage {
  width: 200px;
}
