.profileContainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
  background-color: darkkhaki;
  position: relative;
  padding: 0.3rem;
}

.first {
  background-color: burlywood;
  padding: 0.3rem;
}

.userImage {
  width: 12.5rem;
  max-width: 100%;
  height: auto;
}

.logoutButtonProfile {
  background-color: orange;
  border-radius: 3rem;
  border: none;
}

@media (max-width: 900px) {
  .userImage {
    width: 10rem;
  }
}

@media (max-width: 600px) {
  .userImage {
    width: 8rem;
  }
}
