.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  gap: 1rem;
}

.container > div:first-child {
  text-align: center;
}

.container img {
  width: 300px;
  height: auto;
  border-radius: 0.5rem;
}

.audioContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.audio {
  width: 300px;
  max-width: 100%;
}

/* Medium screens */
@media (max-width: 900px) {
  .container img {
    width: 220px;
  }

  .audio {
    width: 220px;
  }
}

/* Small screens */
@media (max-width: 600px) {
  .container img {
    width: 150px;
  }

  .audio {
    width: 150px;
  }
}

.mainInfo {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 1rem;
}
